# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg
.eggs/
*.whl

# Virtual environments
.venv/
venv/
env/
.env

# Secrets — NUNCA commitar
.env.local
.env.*.local
secrets.yml
*.pem
*.key

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/.user.yml

# Prefect
.prefect/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Docker
*.log

# Testing
.coverage
.pytest_cache/
htmlcov/

# mypy
.mypy_cache/
